/* Fonts import section starts here */

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');

/* Fonts import section ends here */

/* Default code Starts here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    /* border: 1px solid red; */
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #f0f8ff;
    font-family: "Asap", serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h6,
p {
    text-wrap: balance;
}

input,
textarea,
button {
    font-family: inherit
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

:root {
    --primaryColor: #6047f0;
    --secondaryColor: #660600;
    --darkColor: #330300;
    --lightColor: #ff0f00;
    --regularFont: 1.6rem;
    --headingFont: 54px;
    --ffPrimary: "Nunito", sans-serif;
    --ffSecondary: "Merienda", cursive;
}

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

.cspacing {
    padding: 3rem 0;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.d-flex {
    display: flex;
    gap: 0.5rem;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.alicen {
    align-items: center;
}

.juscen {
    justify-content: center;
}

.mb-3 {
    margin-bottom: 3rem;
}

/* Default code Ends here */

/* project code Starts here */

.formContainer {
    background-color: var(--primaryColor);
    padding: 3rem;
}

/* .formComponent {
    background-color: #f78e68;
}

.formBody {
    background-color: #00ffff;
}

.formBlock {
    background-color: #7fff00;
} */

.formSect {
    background-color: #fcf9f9;
    padding: 1.5rem;
    /* text-align: center; */
    width: 50%;
}

.formSect h3 {
    font-size: 3rem;
}

.formSect p {
    font-size: 1.2rem;
}

/* .formHead {
    background-color: #d2691e;
} */

form {
    width: 100%;
}

.formSect1,
.formSect2 {
    font-size: 1.5rem;
}

.formGroup input,
.formGroup textarea, .formGroup select {
    padding: 1rem;
    width: 100%;
    border-radius: 0.1rem;
    text-align: center;
    /* border: none; */
    border: 0.1rem solid #0505051c;
    /* outline: transparent; */
    /* outline-style: solid;
    outline-color: #ec0909e0;
    outline-width:thin; */
    outline: 0.1rem solid #07f12771;

}
option{
    font-family: "Asap", serif;
    font-style: italic;
    /* border: 2px solid #07e007; */
    text-align: center;
    color: #f5e505;
    background-color: #47d7f0;
    font-size: 2rem;
}

/* option:focus{
    background-color: #ffffff !important;
} */



.formGroup input:focus, .formGroup select:focus, .formGroup textarea:focus{
    outline-color: #edfd09;
    outline-width:thin;
}

.formGroup input[type='checkbox'] {
    background-color: #07e007;
    width: auto;
    outline: none;
    /* border-radius: 2rem; */
}

.formGroup input::placeholder, .formGroup textarea::placeholder, .formGroup select::placeholder{
    text-align: start;
}

.sendbtn {
    background-color: #f78e68;
    color: #ffffff;
    padding: 1rem;
    border: transparent;
    border-radius: 1rem;
}

/* project code ends here */

/* Responsive code Starts here */


@media(width<=768px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
    }

    .align {
        padding: 0 1rem;
    }

    .formSect {
        width: 100%;
    }
}

/* Responsive code ends here */
